{block content}
	<h2>Prehľad zvieratiek</h2>

	<p><strong>Aktuálny stav:</strong></p>
	<ul>
		<li>dostupné: {$availablePets|length}</li>
		<li>čakajúce: {$pendingPets|length}</li>
		<li>predané: {$soldPets|length}</li>
	</ul>

	<a n:href="Pet:">Správa zvieratiek</a>
{/block}
